{%extends 'navbar.html'%}
{%load static%}
{%block title%} Carrito {%endblock%}

{%block contenido%}

	<link rel="stylesheet" href="{%static 'paginas/ccarrito.css'%}">
	<div class="container">
		<h1>Carrito</h1>
		<table class="table">
			<thead class="table-header">
				<tr>
					<th></th>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="table-body">
				{% for producto_id, producto in carrito.items %}
					<tr class="producto-row">
						<td>{{ forloop.counter }}</td>
						<td>{{ producto.nombre }}</td>
						<td>
							<form action="{% url 'actualizar_cantidad' producto_id %}" method="POST">
								{% csrf_token %}
								<input type="number" name="cantidad" value="{{ producto.cantidad }}" min="1" class="cantidad-input" onchange="this.form.submit()">
							</form>
						</td>
						<td>${{ producto.precio }}</td>
						<td>${{ producto.total }}</td>
						<td>
							<form action="{% url 'eliminar_producto' producto_id %}" method="POST">
								{% csrf_token %}
								<button type="submit" class="eliminar-btn">
									<img src="{% static 'imagenes/trash.png' %}" height="20px"> Eliminar
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if not carrito %}
			<p>El carrito está vacío. ¡Empieza a añadir productos!</p>
		{% endif %}
		{% if carrito %}
			<div class="total-carrito">
				<p><strong>Total del carrito: ${{ total_carrito }}</strong></p>
			</div>
		{% endif %}
		<div class="boton-pago-container">
			<a href="{% url 'pago' %}">
				<button class="boton-pago"><img src="{% static 'imagenes/pago.png' %}" height="20"> PAGAR</button>
			</a>
		</div>
	</div>
    
{%endblock%}