{%extends 'navbar.html'%}
{%load static%}
{%block title%} Cuenta {%endblock%}

{%block contenido%}
        
    <link rel="stylesheet" href="{%static 'paginas/cuentas.css'%}">
    <div class="body">
        <div class="cuenta-container">
            <h1>Cuenta</h1>
            <div class="informacion-cuenta">
                <h2>Información de la Cuenta</h2>
                <p><strong>Nombre:</strong> {{usuario.nombre_completo}}</p>
                <p><strong>Email:</strong> {{usuario.email}}</p>
            </div>

            <!-- Historial de pedidos -->
            <div class="historial-pedidos">
                <h2>Historial de Pedidos</h2>
                <ul>
                    <a href="{%url 'historial_compras'%}" class="btn-historial">Ir a historial de compras</a>
                </ul>
            </div>

            <!-- Configuración de cuenta -->
            <div class="configuracion">
                <h2>Configuración</h2>
                <ul>
                    <li><a href="{%url 'login'%}" class="cerrar-sesion">Cerrar Sesion</a></li>
                </ul>
            </div>
        </div>
    </div>
{%endblock%}