{% extends 'navbar.html' %}
{% load static %}
{% block title %}Dirección de Envío{% endblock %}

{% block contenido %}

    <link rel="stylesheet" href="{% static 'paginas/direccionEnvios.css' %}">
    <div class="body">
        <div class="container">
            <h1>Ingresa tu Dirección de Envío</h1>
            <form action="{% url 'direccionEnvio' %}" method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="direccion">Dirección Completa:</label>
                    <input type="text" id="direccion" name="direccion" required class="form-control" placeholder="Calle, Número, Ciudad, Estado, Código Postal">
                </div>

                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" required class="form-control" placeholder="Tu número de teléfono">
                </div>

                <div class="form-group">
                    <label for="comentarios">Comentarios (opcional):</label>
                    <textarea id="comentarios" name="comentarios" class="form-control" rows="4" placeholder="Comentarios sobre la entrega, si es necesario."></textarea>
                </div>

                <div class="form-group">
                    <a href="{%url 'pago'%}">Confirmar Dirección</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}