{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'navbar.css'%}">
    <link rel="icon" href="{%static 'logo.jpg'%}">
    <title>Farmacia</title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand" href="{%url 'inicio'%}">
            <img src="{%static 'logo.jpg'%}" alt="" height="40" width="40px">Farmacia SaludPlus
        </a>
        <ul class="navbar-links">
          <li><a href="{%url 'inicio'%}">Inicio</a></li>
          <li><a href="{%url 'catalogo'%}">Catalogo</a></li>
          <li><a href="{%url 'carrito'%}">Carrito</a></li>
          <li><a href="{%url 'cuenta'%}">Cuenta</a></li>
        </ul>
      </nav>
    {%block contenido%}
    {%endblock%}
</body>
</html>