{% extends 'navbar.html' %}
{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'paginas/pagos.css' %}">

<div class="body">
    <div class="pago-container">
        <h1>Pago</h1>
        <form method="POST" action="{% url 'pago' %}">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" required placeholder="Nombre del titular">
            </div>
            <div class="input-group">
                <input type="number" required placeholder="Número de tarjeta">
            </div>
            <div class="input-group">
                <input type="number" required placeholder="MM/AA">
                <input type="number" required placeholder="CVV">
            </div>
            <div>
                <button class="boton-pago" type="submit">
                    <img src="{% static 'imagenes/pago.png' %}" height="20"> PAGAR
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
