{%extends 'navbar.html'%}
{%load static%}
{%block title%}Registro{%endblock%}

{%block contenido%}
    <link rel="stylesheet" href="{%static 'paginas/registros.css'%}">
    <div class="body">
        <div class="register-container">
            <h1>Registro</h1>
            <form action="{% url 'registro' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="nombre" placeholder="Nombre Completo" required>
                </div>
                <div class="input-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Registrarse</button>
            </form>
        </div>
    </div>
{%endblock%}