{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'paginas/registro.css'%}">
    <title>Registro de usuario</title>
</head>
<body>
    {%block contenido%}
    <div class="register-container">
        <h1>Registro</h1>
        <form action="{% url 'registro' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" name="nombre" placeholder="Nombre Completo" required>
            </div>
            <div class="input-group">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit">Registrarse</button>
        </form>
    </div>
    {%endblock%}
</body>
</html>